$cGray10: #F8F9FF;
$cBlurAsset01: #C333FF;
$cBlurAsset02: #00F4E2;
$cBlurAsset02-80: #00FF7F;
$cGlyphPrimary100: #03050F;
$cGray00: #FFF;
$cGray100: #03050F;
$cGray60: #5E6488;
$cRed: #F7052D;

$gL01: linear-gradient(90deg, $cBlurAsset02, $cBlurAsset02-80);
