@use '../vars/mediaqueries' as *;

$ffBrSonoma: 'BR Sonoma', serif;
$fsBase: 16px;
$lhBase: 1.5;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwBlack: 900;

@mixin H1-SemiBold48 {
  font-family: $ffBrSonoma;
  font-size: 48px;
  line-height: 56px;
  font-weight: $fwSemiBold;
  margin: 0;
  @include phone() {
    font-size: 36px;
    line-height: 44px;
  }
}

@mixin H2-SemiBold40 {
  font-family: $ffBrSonoma;
  font-size: 40px;
  line-height: 48px;
  font-weight: $fwSemiBold;
  margin: 0;
  @include phone() {
    font-size: 32px;
    line-height: 40px;
  }
}

@mixin H3-SemiBold36 {
  font-family: $ffBrSonoma;
  font-size: 36px;
  line-height: 44px;
  font-weight: $fwSemiBold;
  margin: 0;
  @include phone() {
    font-size: 28px;
    line-height: 36px;
  }
}

@mixin H4-SemiBold32 {
  font-family: $ffBrSonoma;
  font-size: 32px;
  line-height: 40px;
  font-weight: $fwSemiBold;
  margin: 0;
  @include phone() {
    font-size: 24px;
    line-height: 32px;
  }
}

@mixin H5-SemiBold24 {
  font-family: $ffBrSonoma;
  font-size: 24px;
  line-height: 32px;
  font-weight: $fwSemiBold;
  margin: 0;
  @include phone() {
    font-size: 20px;
    line-height: 28px;
  }
}

@mixin H6-SemiBold20 {
  font-family: $ffBrSonoma;
  font-size: 20px;
  line-height: 28px;
  font-weight: $fwSemiBold;
  margin: 0;
  @include phone() {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin Body-Regular17 {
  font-family: $ffBrSonoma;
  font-size: 17px;
  line-height: 26px;
  font-weight: $fwRegular;
  margin: 0;
  @include phone() {
    font-size: 16px;
    line-height: 24px;
  }
}