@use '../styles/vars/colors' as *;
@use '../styles/vars/mediaqueries' as *;
@use '../styles/vars/typography' as *;

.landing {
  min-height: calc(100vh - 120px);
  background: linear-gradient(135deg, $bg-primary 0%, $gray-100 100%);

  &__container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 2.4rem;
  }

  &__hero_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    border-bottom: 1px solid $gray-300;
    padding-bottom: 2.4rem;
    margin-bottom: 2.4rem;
    @include tablet {
      display: none;
    }

    &__image {
      &-img_mobile {
        width: 13.6rem;
        min-width: 13.6rem;
        height: 16rem;
        object-fit: cover;
        border-radius: 1.6rem;
      }
    }
  }

  &__badge {
    width: fit-content;
    background: $gL01;
    border-radius: 0.4rem;
    padding: 0.2rem 0.8rem;

    &-text {
      font-size: 1.2rem;
      line-height: 1.6rem;
      color: $rimac-dark;
      font-weight: $font-weight-semibold;
      letter-spacing: 0.4px;
    }
  }

  &__title_mobile {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin: 1rem 0 0;
  }
}