@use '../styles/vars/colors' as *;
@use '../styles/vars/typography' as *;
@use '../styles/vars/mediaqueries' as *;

.plans-main {
  background: $neutrals-100;
  min-height: calc(100vh - (60px + 153px));
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    min-height: calc(100vh - (71.5px + 102.25px));
  }
}

.plans-header {
  width: 90%;
  max-width: $tablet;
  margin: 0 auto;
  &__title {
    color: $neutrals-700;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
    letter-spacing: -0.2px;

    @include tablet {
      text-align: center;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px; /* 120% */
      letter-spacing: -0.6px;
    }
  }
  &__subtitle {
    color: $neutrals-700;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
    letter-spacing: 0.1px;

    @include tablet {
      text-align: center;
    }
  }
}

.plans-options {
  margin-top: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  @include tablet {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 3.2rem;
  }
}

.plans-option {
  border-radius: 24px;
  background: $white;
  box-shadow: 0 1px 32px 0 rgba(174, 172, 243, 0.35);
  padding: 16px 24px 40px 24px;
  max-width: 256px;

  &__icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    color: $neutrals-700;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 140% */
    letter-spacing: -0.2px;
    margin: 0;
  }
  &__desc {
    color: $neutrals-700;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.2px;
    margin: 0.8rem 0 0;
  }

  &__check {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $neutrals-400;
    margin-left: auto;
    margin-right: 0;
  }

  &[aria-checked='true'] {
    border-radius: 24px;
    outline: 3px solid $neutrals-700;
    box-shadow: 0 1px 32px 0 rgba(174, 172, 243, 0.35);

    & .plans-option__check {
      display: block;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      background: $success;
      border-color: $success;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 7px;
        width: 6px;
        height: 12px;
        border: solid $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }
}

.plans-list {
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 8rem;

  & .swiper {
    padding: 2rem;
  }

  .swiper-wrapper {
    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .swiper-slide {
    box-shadow: 0 1px 32px 0 rgba(174, 172, 243, 0.35);
    border-radius: 24px;
    background: $white;
    height: 100%;
  }

  .plan-card {
    padding: 68px 32px 48px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;

    &--recommended {
      padding: 40px 32px 48px 32px;
    }

    &__recommended {
      border-radius: 6px;
      background: $cGreenAqua;
      color: $neutrals-700;
      font-size: 12px;
      font-style: normal;
      font-weight: 900;
      line-height: 16px;
      letter-spacing: 0.4px;
      padding: 4px 8px 1px;
      height: 21px;
      display: block;
      margin-bottom: 8px;
      margin-top: -8px;
    }

    &__header {
      display: flex;
      gap: 1.6rem;
      justify-content: space-between;
    }

    &__title {
      flex: 1;
      margin: 0;
      color: $neutrals-700;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: -0.2px;
    }

    &__icon {
      width: 5.6rem;

      svg {
        width: 5.6rem;
        height: 5.6rem;
      }
    }

    &__price {
      margin-top: 2.4rem;
      display: flex;
      flex-direction: column;

      &-label {
        color: $neutrals-600;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        letter-spacing: 0.6px;
        text-transform: uppercase;
      }

      &-value {
        color: $neutrals-700;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.2px;
      }

      &-discount {
        color: $neutrals-600;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: -0.2px;
        text-decoration-line: line-through;
      }
    }

    &__features {
      flex: 1;
      border-top: 1px solid $neutrals-400;
      margin-top: 2.4rem;
      padding-top: 2.4rem;
      color: $neutrals-700;
      font-size: 16px;
      font-style: normal;
      line-height: 28px;
      letter-spacing: 0.1px;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      align-self: stretch;
    }

    &__select {
      margin-top: 4rem;
      border-radius: 32px;
      background: $rimac-red;
      display: flex;
      padding: 14px 32px;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      color: $white;
    }
  }
}
