@import '../styles/vars/colors';
@import '../styles/vars/typography';
@import '../styles/vars/mediaqueries';

.plans-main {
  background: $neutrals-100;
  min-height: calc(100vh - (60px + 153px));
  display: flex;
  flex-direction: column;
  align-items: center;
  @include tablet {
    min-height: calc(100vh - (71.5px + 102.25px));
  }
}

.plans-steps {
  background: $neutrals-100;
  @include tablet {
    background: $neutrals-200;
  }
  &.desktop{
    display: none;
    @include tablet {
      width: 100%;
      display: flex;
    }
  }
  &.mobile{
    display: flex;
    padding: 1.6rem 2.4rem;
    align-items: center;
    gap: 1.6rem;
    align-self: stretch;
    border-bottom: 1px solid $neutrals-400;
    @include tablet {
      display: none;
    }

  }
  &__step {
    &.mobile {
      color: $neutrals-700;
      font-feature-settings: 'liga' off, 'clig' off;
      font-size: 1.1rem;
      font-weight: $font-weight-bold;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }
  &__progress-bar {
    display: flex;
    height: 6px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 20px;
    background: $neutrals-400;
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 8%;
      background: $blue-berry;
      border-radius: 20px;
      transition: width 0.3s ease-in-out;
    }
  }
  &__list {
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    gap: 1.6rem;
    padding: 1.6rem 0;
    justify-content: center;
    align-items: flex-start;
  }
  &__item{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    span {
      color: $neutrals-600;
      letter-spacing: 0.2px;
    }
    &__circle{
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $neutrals-600;
      border-radius: 50%;
      color: $neutrals-600;
      text-align: center;
      font-size: 1.2rem;
      font-weight: $font-weight-bold;
      line-height: 0;
    }
    &--active{
      &::after{
        content: "";
        width: 32px;
        border: 2px dashed $blue-berry;
      }
      &__circle{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background: $blue-berry;
        color: $white!important;
        text-align: center;
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
      }
      span {
        color: $neutrals-700;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2px;
      }
    }
  }
}

.plans-back{
  display: none;
    @include tablet {
      display: flex;
      align-self: flex-start;
      margin: 2.4rem auto;
      width: 90%;
      max-width: $desktop;
    }
    &__btn{
      display: flex;
      align-items: center;
      gap: 8px;
      color: $blue-berry;
      font-size: 1.8rem;
      font-weight: $font-weight-bold;
      line-height: 2rem;
      letter-spacing: 0.4px;
      svg{
        width: 20px;
        height: 20px;
        path{
          fill: $blue-berry;
        }
        circle{
          stroke: $blue-berry;
        }
      }
    }
}