@import '../styles/vars/colors';
@import '../styles/vars/typography';
@import '../styles/vars/mediaqueries';

.back{
  display: none;
  @include tablet {
    display: flex;
    align-self: flex-start;
    margin: 2.4rem auto;
    width: 90%;
    max-width: $desktop;
  }
  &__btn{
    display: flex;
    align-items: center;
    gap: 8px;
    color: $blue-berry;
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
    line-height: 2rem;
    letter-spacing: 0.4px;
    svg{
      width: 20px;
      height: 20px;
      path{
        fill: $blue-berry;
      }
      circle{
        stroke: $blue-berry;
      }
    }
  }
}