@use '../styles/vars/mediaqueries' as *;
@use '../styles/vars/typography' as *;
@use '../styles/vars/colors' as *;

.footer {
  background: $bg-dark;
  padding: 2rem 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      padding: 0 2rem;
    }
  }

  &__logo {
    svg {
      width: 74px;
      height: 36px;
    }
  }

  &__text {
    @include small-text;
    color: $white;
    margin: 0;
    font-size: $font-size-sm;
  }
}
