@use '../styles/vars/colors' as *;
@use '../styles/vars/typography' as *;
@use '../styles/vars/mediaqueries' as *;

.steps {
  background: $neutrals-100;
  @include tablet {
    background: $neutrals-200;
  }
  &.desktop {
    display: none;
    @include tablet {
      width: 100%;
      display: flex;
    }
  }
  &.mobile {
    display: flex;
    padding: 1.6rem 2.4rem;
    align-items: center;
    gap: 1.6rem;
    align-self: stretch;
    border-bottom: 1px solid $neutrals-400;
    @include tablet {
      display: none;
    }
  }
  &__step {
    &.mobile {
      color: $neutrals-700;
      font-feature-settings:
        'liga' off,
        'clig' off;
      font-size: 1.1rem;
      font-weight: $font-weight-bold;
      letter-spacing: 0.8px;
      text-transform: uppercase;
    }
  }
  &__progress-bar {
    display: flex;
    height: 6px;
    align-items: center;
    flex: 1 0 0;
    border-radius: 20px;
    background: $neutrals-400;
    position: relative;
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 8%;
      background: $blue-berry;
      border-radius: 20px;
      transition: width 0.3s ease-in-out;
    }
  }
  &__list {
    margin: 0;
    width: 100%;
    list-style: none;
    display: flex;
    gap: 1.6rem;
    padding: 1.6rem 0;
    justify-content: center;
    align-items: flex-start;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    span {
      color: $neutrals-600;
      letter-spacing: 0.2px;
    }
    &__circle {
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid $neutrals-600;
      border-radius: 50%;
      color: $neutrals-600;
      text-align: center;
      font-size: 1.2rem;
      font-weight: $font-weight-bold;
      line-height: 0;
    }
    &--active {
      &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        background: $blue-berry;
        color: $white !important;
        text-align: center;
        font-size: 1.2rem;
        font-weight: $font-weight-bold;
      }
      span {
        color: $neutrals-700;
        font-weight: $font-weight-bold;
        letter-spacing: 0.2px;
      }
    }

    &__dashed {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 32px;
      border-bottom: 2px dashed $blue-berry;
      margin-top: 1rem;
    }
  }
}
